{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="card #bbdefb blue lighten-4 hoverable">
      <div class="card-content grey-text text-darken-4">
        <!-- <a href="{% url 'apply_group' gamegroup.id %}" class="right"><i class="btn-floating btn-large waves-effect waves-light" class="material-icons red"></i></a> -->
        <span class="card-title">{{ gamegroup.name }}</span>
        {% for photo in gamegroup.photo_set.all %}
        <img width="200px" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <p>Members: {{gamegroup.users.count}}</p>
        <p>City: {{gamegroup.city}}</p> 
        <p>State: {{gamegroup.state}} </p> 
        <p>Zip: {{gamegroup.zip_code}}</p> 
        <p>Group organizer: {{gamegroup.created_by}}</p> 
        <p>Description: {{ gamegroup.description }}</p>
        
      <div class="card-content grey darken-1-text">
        <!-- <a href="{% url 'apply_group' gamegroup.id %}" class="right"><i class="btn-floating btn-large waves-effect waves-light" class="material-icons red"></i></a> -->
        <span class="card-title">{{ gamegroup.name }}</span>
        {% for photo in gamegroup.photo_set.all %}
          <img width="200px" src="{{photo.url}}">
        {% empty %}
        {% if gamegroup.created_by == request.user %}
        <i class="material-icons medium circle">image</i><br>
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalD">Add Photo</a>
        {% endif %}
        {% endfor %}
        <p>Members: {{ gamegroup.users.count }}</p>
        <p>City: {{ gamegroup.city }}</p> 
        <p>State: {{ gamegroup.state }} </p> 
        <p>Zip: {{ gamegroup.zip_code }}</p> 
        <p>Group organizer: {{ gamegroup.created_by }}</p> 
        <p>Description: {{ gamegroup.description }}</p>
      </div>


      <div class="card-action">
        {% if gamegroup.created_by == request.user %}
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalB">Edit</a>
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalA">Delete</a>
        
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalApp">Applications</a>
        {% endif %}

        {% if request.user != gamegroup.created_by %}
          {% if request.user in applicant_list %}
          <a class="btn right" class="waves-effect waves-light">Applied!</a>
          {% elif request.user in gamegroup_users %}
          <a href="{% url 'leave_group' gamegroup.id %}" class="btn right" class="waves-effect waves-light">Leave Group</a>
          {% else %}
          <a href="{% url 'apply_group' gamegroup.id %}" class="btn right" class="waves-effect waves-light">Join Group</a>
          {% endif %}
        {% endif %}
        {% if request.user == gamegroup.created_by or request.user in gamegroup_users %}
          <a class="waves-effect waves-light modal-trigger teal-text" href="#modalC">New Event</a>
        {% endif %}
          <!-- Modal's Code below here -->
          <div id="modalA" class="modal">
            <div class="modal-content">
              <h4>Confirm Delete?</h4>
            </div>
            <div class="modal-footer">
              <a href="{% url 'groups_delete' gamegroup.id %}" class="modal-close waves-effect waves-green btn">Delete</a>
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>

          <div id="modalB" class="modal">
            <div class="modal-content">
              <h4>Confirm Update</h4>
              <form action="{% url 'groups_update' gamegroup.id %}" method="post">
                <!-- Django requires the following for security purposes -->
                {% csrf_token %}
                <input name="description" type="text" value="{{gamegroup.description}}" >
                <input type="submit" value="Submit!" class="btn">
              </form>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>
          
          <div id="modalC" class="modal">
            <div class="modal-content">
              <h4>New Event</h4>
              <form action="{% url 'add_event' gamegroup.id %}" method="post">
                {% csrf_token %}
                {{ add_event_form.as_p }}
                <input type="submit" class="btn" value="Add Event">
              </form>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>

          <div id="modalD" class="modal">
            <div class="modal-content">
              <h4>Add Photo</h4>
              <form action="{% url 'add_photo' gamegroup.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
              </form>
              </div>
            </div>


          <div id="modalApp" class="modal">
            <div class="modal-content">
              <h2 class="header">Applications</h2>
              <div class="modal-header right">
                <a class="modal-close waves-effect waves-green btn">Cancel</a>
              </div>
              {% for application in applicants %}
              <div class="col s12">
                  <div class="card horizontal">
                    <div class="card-image">
                      <img src="">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <h4>{{application.user.username}}</h4>
                      </div>
                      <div class="card-action">
                        <form action="{% url 'accept_app' application.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn" value="Accept User">
                        </form>
                        <form class="right" action="{% url 'decline_app' application.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn" value="Decline User">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>
<!-- Modal's Code above here -->
      </div>
    </div>
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    autoClose: true
  });
</script>
{% include "events.html" %}
{% endblock %}