{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s6">
    <div class="card #bbdefb blue lighten-4 hoverable">
      <div class="card-content black-text">
        <a href="{% url 'apply_group' gamegroup.id %}" class="right"><i class="btn-floating btn-large waves-effect waves-light" class="material-icons red"></i></a>
        <span class="card-title">{{ gamegroup.name }}</span>
        <p>City: {{gamegroup.city}}</p> 
        <p>State: {{gamegroup.state}} </p> 
        <p>Zip: {{gamegroup.zip_code}}</p> 
        <p>Group organizer: {{gamegroup.created_by}}</p> 
        <p>Description: {{ gamegroup.description }}</p>
      </div>
      <div class="card-action">
        {% if gamegroup.created_by == request.user %}
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalB">Edit</a>
        <a class="waves-effect waves-light modal-trigger teal-text" href="#modalA">Delete</a>
        {% endif %}
          <a class="waves-effect waves-light modal-trigger teal-text" href="#modalC">New Event</a>
          <!-- Modal's Code below here -->
          <div id="modalA" class="modal">
            <div class="modal-content">
              <h4>Confirm Delete?</h4>
            </div>
            <div class="modal-footer">
              <a href="{% url 'groups_delete' gamegroup.id %}" class="modal-close waves-effect waves-green btn">Delete</a>
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>

          <div id="modalB" class="modal">
            <div class="modal-content">
              <h4>Confirm Update</h4>
              <form action="{% url 'groups_update' gamegroup.id %}" method="post">
                <!-- Django requires the following for security purposes -->
                {% csrf_token %}
                <input name="description" type="text" value="{{gamegroup.description}}" >
                <input type="submit" value="Submit!" class="btn">
              </form>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>
          
          <div id="modalC" class="modal">
            <div class="modal-content">
              <h4>New Event</h4>
              <form action="{% url 'add_event' gamegroup.id %}" method="post">
                {% csrf_token %}
                {{ add_event_form.as_p }}
                <input type="submit" class="btn" value="Add Event">
              </form>
            </div>
            <div class="modal-footer">
              <a class="modal-close waves-effect waves-green btn">Cancel</a>
            </div>
          </div>
<!-- Modal's Code above here -->
      </div>
    </div>
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    autoClose: true
  });
</script>
{% include "events.html" %}
{% endblock %}