<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Night</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper #ffa726 orange lighten-1">
            <ul>
                <li><a href="{% url 'groups_index' %}" class="left brand-logo"><i class="medium material-icons left">casino</i>&nbsp;&nbsp;Game Night</a></li>
            </ul>
            <ul class="right">
              {% if user.is_authenticated %}
                <li><a href="{% url 'groups_create' %}">Create New Group</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
    <footer class="page-footer #ffa726 orange lighten-1">
        <div class="right">All Rights Reserved, &copy; 2020 GAME NIGHT &nbsp;</div>
     </footer>
     <script> M.AutoInit();</script>
     <script>  document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, options);
      });</script>
</body>
</html>