<div class="row">
  {% for event in gamegroup.event_set.all %}
  <div class="col s6">
  <div class="card hoverable">
      <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{ event.name }}</span>
          <h6 class="right text blue-text text-darken-4"><i class="inline-icon material-icons">people</i>{{event.attending_set.all.count}} / {{ event.limit }}</h6>
          <br>
          <br>
          {% if request.user == gamegroup.created_by or request.user in gamegroup_users %}
          {% for attendee in event.attending_set.all %}
          {% if request.user == attendee.user %}
          <a href="{% url 'unattend_event' event.id %}" class="btn red right" class="waves-effect waves-light leave-event">Leave</a>
          {% endif %}
          {% endfor %}
          <a href="{% url 'attend_event' event.id %}" class="btn blue darken-2 right" class="waves-effect waves-light">Join</a>
          {% endif %}
          <h7 class= "blue-text text-darken-4"><i class="inline-icon material-icons">insert_invitation</i>  {{ event.date }}</h7>
          <h7 class= "blue-text text-darken-4"><i class="inline-icon material-icons">schedule</i>  {{ event.time }}</h7>
              <div>
              <span class="card-title grey-text text-darken-4"></span>
                  <p><i class="inline-icon material-icons">person_pin_circle</i>Hosted by {{ event.created_by }}</p>
                  <p><i class="inline-icon material-icons">location_city</i>  {{ event.address }} {{ event.city }}, {{ event.state }}, {{ event.zip_code }}</p>
                  <p><i class="inline-icon material-icons">casino</i>  {{ event.game }}</p>
                  <p><i class="inline-icon material-icons">textsms</i>  {{ event.game_description }}</p>
                  
              </div>
              <div class="event-card-actions" class="card-action">
                {% if request.user == event.created_by %}
                  <a class="waves-effect btn blue darken-2 right waves-light modal-trigger" href="#modal{{event.id}}">Edit</a>
                  <a class="waves-effect btn red right waves-light modal-trigger delete-event" href="#modalDelete{{event.id}}">Delete</a>
                {% endif %}
                  <div id="modal{{event.id}}" class="modal">
                      <div class="modal-content">
                          <h4>Test</h4>
                          <form action="{% url 'update_event' event.id %}" method="post">
                              {% csrf_token %}
                              {{ edit_event_form.as_p }}
                              <input type="submit" class="btn" value="Edit Event">
                          </form>
                      </div>
                      <div class="modal-footer">
                          <a class="modal-close waves-effect waves-green btn">Cancel</a>
                      </div>
                  </div>
              </div>
  
              <div id="modalDelete{{event.id}}" class="modal">
                  <div class="modal-content">
                    <h4>Confirm Delete?</h4>
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'delete_event' event.id %}" class="modal-close waves-effect waves-green btn">Delete</a>
                    <a class="modal-close waves-effect waves-green btn">Cancel</a>
                  </div>
                </div>
      </div>
  </div>
  </div>
  <script>
      var dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });
      var timeEl = document.getElementById('id_time');
      M.Timepicker.init(timeEl, {
        autoClose: true
      });
    </script>
  {% endfor %}
  </div>
  

