<div class="row">
{% for event in gamegroup.event_set.all %}
<div class="col s6">
<div class="card hoverable">
    <div class="card-content">
        <h4 class="card-title grey-text text-darken-4">{{ event.name }}</h4>
        <p class="right"><i class="small material-icons">people</i> {{ event.limit }}</p>
        <a href="{% url 'attend_event' event.id %}" class="right"><i class="btn-floating btn-small waves-effect waves-light material-icons red">person_add</i></a>
        <p class="right"><i class="small material-icons">people</i>{{attendees.count}} out of {{ event.limit }}</p>
        <p class="right"><i class="small material-icons">people</i>{{event.attending_set.all.count}} / {{ event.limit }}</p>
        {% if request.user == gamegroup.created_by or request.user in gamegroup_users %}
        {% regroup event|dictsort:"user" by user as user_list %}
        {% if request.user in user_list %}
        <a href="{% url 'unattend_event' event.id %}" class="btn right" class="waves-effect waves-light">Leave Event</a>
        {% elif event.attending_set.all.count < event.limit %}
        <a href="{% url 'attend_event' event.id %}" class="btn right" class="waves-effect waves-light">Join Event</a>
        {% endif %}
        {% endif %}
        <h6 class= "blue-text text-darken-4"><i class="small material-icons">insert_invitation</i>  {{ event.date }}</h6>
        <h6 class= "blue-text text-darken-4"><i class="small material-icons">schedule</i>  {{ event.time }}</h6>
            <div>
            <span class="card-title grey-text text-darken-4"></span>
                <p><i class="tiny material-icons">person_pin_circle</i>Hosted by {{ event.created_by }}</p>
                <p><i class="tiny material-icons">directions</i>  {{ event.address }}</p>
                <p><i class="tiny material-icons">location_city</i>  {{ event.city }}, {{ event.state }} {{ event.zip_code }}</p>
                <p><i class="tiny material-icons">casino</i>  {{ event.game }}</p>
                <p><i class="tiny material-icons">textsms</i>  {{ event.game_description }}</p>
            </div>
            
            <div class="card-action">
              {% if request.user == event.created_by %}
                <a class="waves-effect waves-light modal-trigger" href="#modal{{event.id}}">Edit</a>
                <a class="waves-effect waves-light modal-trigger" href="#modalDelete{{event.id}}">Delete</a>
              {% endif %}
                <div id="modal{{event.id}}" class="modal">
                    <div class="modal-content">
                        <h4>Test</h4>
                        <form action="{% url 'update_event' event.id %}" method="post">
                            {% csrf_token %}
                            {{ edit_event_form.as_p }}
                            <input type="submit" class="btn" value="Edit Event">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn">Cancel</a>
                    </div>
                </div>
            </div>

            <div id="modalDelete{{event.id}}" class="modal">
                <div class="modal-content">
                  <h4>Confirm Delete?</h4>
                </div>
                <div class="modal-footer">
                  <a href="{% url 'delete_event' event.id %}" class="modal-close waves-effect waves-green btn">Delete</a>
                  <a class="modal-close waves-effect waves-green btn">Cancel</a>
                </div>
              </div>
    </div>
</div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    var timeEl = document.getElementById('id_time');
    M.Timepicker.init(timeEl, {
      autoClose: true
    });
  </script>
{% endfor %}
</div>


